body{
	background-color: #c0c0c0;
	background-image: url(/images/Background_02.png);
	font-family: Arial, Verdana, sans-serif;
	margin: 3% 5%;
	font-weight: normal;
	font-size: medium;
	color: #000000;
	text-decoration: none;
}

h1 {
	font-family: "Comic Sans", cursive;
	font-weight: bolder;
	font-size: 180%;
	color: #800000;
	margin-bottom: 2px;
}

h2{
	font-family: "Arial Black", sans-serif;
	font-weight: bolder;
	font-size: 150%;
	color: #800000;
}

h3{
	font-family: "Arial Black", sans-serif;
	font-weight: bolder;
	font-size: 120%;
	color: #800000;
	padding-left: 30px;
	margin-top: 2px;
}

h4 {
	background-color: #990000;
	margin-bottom: 3px;
	font-weight: bolder;
	font-size: 100%;
	color: #ffffff;
}


nav {
	margin: 5px 5px;
	background-color: #32cd32;
	border: solid  3px #800000;
	padding: 2px 5px;	
}

nav ul {
	list-style: none; 
	text-align: center;
}

nav ul li {
	display: inline;
	background-color: #bbbbbb; 
	padding: 3px;
	border: 1px outset #000080; 
	text-decoration: none;
	text-align: center;
	font-size: large;
	font-weight: bold;
}

input, select {
	width: 200px;
	height: 24px;
	border: solid 2px #8b0000;
	border-radius: 5px;
	background-color: #87ceeb;
	color: #000000;
	font-size: large;
}

select {
	height: 30px;
}

input:focus, textarea:focus {
	border-style: dotted;
	border-color: #8b0000;
}

input[type='submit']{
	
	background-color: #008080;
	height: 30px;
	font-weight: bolder;
	font-size: large;
	color: #ffffff;
	/*float: right;*/
}

#search_hotel {
	margin: auto;
	width: 70%;
	text-align: center;
}

#search_results {
	margin-top: 20px;
	padding-left: 20px;
}

article time {
	font-style: italic;
	color: #0000ff;
}

#new_post label {
	color: #008000;
}

#new_post, #edit_post {
	width: 40%;
}

article {
	margin-left: 30px;
	margin-top: 10px;
}

fieldset {
	border: solid 1px #ffefd5;
	background-color: #1e90ff;
	border-radius: 10px;
}

hr {
	width: 60%;
	height: 2px;
	background-color: #4b0082; 
}
#signup, #login {
	margin: auto;
	width: 42%;
	/*text-align: center;*/
}

#main_page {
	border: solid 2px #8b0000;
	margin: 10px auto;
	padding: 5px 5px;
	width: 90%;
	min-height: 480px;
	background-image: url(/images/Background_01.png);
}

address {
	font-style: italic;
	color: #800000;
}

#signin fieldset label.error {
	color: red;
}

#signin fieldset input.error {
	border: 1px solid red;
}

a:link{		/* unvisited link */
	color: #0000FF;
	text-decoration: none;
} 
a:visited{		/* visited link */
	color: #4B0082;
	text-decoration: underline;
}	
a:hover{	/* mouse over link */
	color: #9400D3;
	text-decoration: underline;
	font-size:125%;
}	
a:active {	/* selected link */
	color: #FF0000;
	text-decoration: underline;
}
